<nav>
  <ul>
    <li><a href="/">home</a></li>
    <div class="nav-divider">
      <li><a href="signup">signup</a></li>
      <li><a href="login">login</a></li>
      <li><a href="/">logout</a></li>
    </div>
  </ul>
</nav>